<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.vmlxstation.menu-bar</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/ABSOLUTE/PATH/TO/Library/Application Support/vmlx-station/bin/run_vmlx_station_menu_bar.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/REPLACE_ME/Library/Application Support/vmlx-station</string>
  <key>LimitLoadToSessionType</key>
  <array>
    <string>Aqua</string>
  </array>
  <key>ProcessType</key>
  <string>Interactive</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/REPLACE_ME/Library/Application Support/vmlx-station/logs/menu-bar.launchd.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/REPLACE_ME/Library/Application Support/vmlx-station/logs/menu-bar.launchd.log</string>
</dict>
</plist>
